.bubble {
	position: absolute;
	width: 160px;
	height: 120px;
	padding: 20px;
	background: #fff;
	border: #55BBCC solid 2px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 7px;
}

.bubble li {
	padding: 7px 20px;
	list-style: none;
	text-align:center;
}

.bubble li:hover {
	background-color:#e3f2ff;
	margin: 0 -20px;
}

.bubble:after  {
	content: "";
	position: absolute;
	top: -15px;
	left: 135px;
	border-style: solid;
	border-width: 0 13px 15px;
	border-color: #fff transparent;
	display: block;
	width: 0;
	z-index: 1;
}

.bubble:before {
	content: "";
	position: absolute;
	top: -18px;
	left: 134px;
	border-style: solid;
	border-width: 0 14px 16px;
	border-color: #55BBCC transparent;
	display: block;
	width: 0;
	z-index: 0;
}
