.small-cloud {
	position: fixed;width: 221px;height: 105px;top: 162px;
}

.main-cloud {
	background-repeat:no-repeat;background-attachment:fixed;position: absolute;width: 421px;height: 195px;top: 20px;
}

.welcome-image {
	position: relative;
	width: 310px;
	height: 162px;
	top: 70px;
	z-index:-1;
}

#button-size {
	width: 80px;
	height: 60px;
}

#mobile-button-size {
	width: 40px;
	height: 40px;
}

#home{
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #fff;
}

#home .contentcontainer{
	display: block;
	width: 100%;
	height: 100%;
	padding-left: 280px;
}

#home aside{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	padding: 30px;
}

html, body, #main-wrap {
	min-height: 100%;
	height: 100%;
	/*overflow-y:hidden;*/
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	font-size: 100%;
	background: transparent;
}

.entries {
	display: block;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

.entry-title {
	margin: 10px 0;
	padding-bottom: 0;
	font-size: 2.3em;
}

.entry-title small {
	display: block;
	margin: 5px 0;
	font-size: 0.7em;
	color: #5bc;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small{
	margin: 5px;
	font: normal normal 0.6em/1.2em 'Open Sans Condensed Light', Arial, sans-serif;
	color: #666;
}

h1 + * ,
h2 + * ,
h3 + * ,
h4 + * ,
h5 + * ,
h6 + *{
	margin-top: 0;
}

h2{
	font-size: 2.5em;
}

h3{
	font-size: 2em;
}

h4{
	font-size: 1.75em;
}

.bdescr {
	font-size: 10px !important; 
	font-weight: normal; 
	text-transform: none;
}

h5{
	font-size: 1.5em;
}

h6{
	font-size: 1.25em;
}
a.button.color, button.color, input[type=button].color, input[type=submit].color, input[type=reset].color {
	color: #fff;
	background: #5bc;
}

#page, #page * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.register-block input[type=password], input[type=text] {
	border-right: none !important;
	border-bottom: none !important;
	border-top: none !important;
}

input[type=password], input[type=text] {
font-weight: bold;
color: #868686;
padding: 8px 7px;
margin-bottom: 18px;
border-radius: 2px;
box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.09);
}

button:disabled {
	color: #ccc;
}

.dialog-keyinput{
	width: 29px;
	float:left;
	padding-left: 3px;
	border: none;
}

.minus {
	font-weight: bold;
	font-size: 55px;
	float:left;
	padding-left: 3px;
}

a{
	text-decoration: none;
	color: #5bc;
	-moz-transition: color 0.15s ease-out , background-color 0.15s ease-out , border 0.15s ease-out;
	-webkit-transition: color 0.15s ease-out , background-color 0.15s ease-out , border 0.15s ease-out;
	-o-transition: color 0.15s ease-out , background-color 0.15s ease-out , border 0.15s ease-out;
	-ms-transition: color 0.15s ease-out , background-color 0.15s ease-out , border 0.15s ease-out;
	transition: color 0.15s ease-out , background-color 0.15s ease-out , border 0.15s ease-out;
}

a.button.secondary, button.secondary, input[type=button].secondary, input[type=submit].secondary, input[type=reset].secondary {
	color: #666;
	background: #e9e9e9;
}

a.button, button, input[type=button], input[type=submit], input[type=reset] {
	display: inline-block;
	vertical-align: middle;
	margin: 2px;
	padding: 0.8em;
	cursor: pointer;
	border-radius: 2px;
	font: normal normal 1.1em/1em 'Open Sans Condensed Bold', Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	outline: none;
	border: none;
	color: #fff;
	background: #111;
	-moz-transition: background 0.15s ease-out;
	-webkit-transition: background 0.15s ease-out;
	-o-transition: background 0.15s ease-out;
	-ms-transition: background 0.15s ease-out;
	transition: background 0.15s ease-out;
}

select {
	font-weight: bold;
	display: inline-block;
	padding: 8px 7px;
	color: #868686;
	border: none;
	border-radius: 2px;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.09);
}

.color {
	color: #5bc;
}
.light {
	font-family: 'Open Sans Condensed Light', Arial, sans-serif;
}

h1 small:only-child, h2 small:only-child, h3 small:only-child, h4 small:only-child, h5 small:only-child, h6 small:only-child {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.6em;
	font: normal normal 3em/1em 'Open Sans Condensed Bold', Arial, sans-serif;
	text-transform: uppercase;
	color: #333;
}

th, th:hover{
	font: normal normal 1.3em/1em 'Open Sans Condensed Bold', Arial, sans-serif;
	text-transform: uppercase;
	color: #fff;
	background: #333;
}

th, td {
	padding: 0.75em;
	text-align: left;
	line-height: 0.5em;
}

.entries tr:hover, .doclistmole tr:hover{
	background-color: aliceblue !important;
}

input:focus{
    outline: 0;
}

#upload:hover {
	background-color: #D8D8D8;
}

#select-files:hover {
	background-color: #D8D8D8;
}

#cancel-upload:hover {
	background-color: #D8D8D8;
}

body {
	font: normal normal 13px/1.6em 'Open Sans', Arial, san-serif;
	color: #666;
	/*visibility: hidden;*/
}
#content {
	padding: 30px;
}
#page.fullscreen {
	margin: 0;
	padding: 0;
	background: transparent;
}
.divider {
	position: relative;
	display: block;
	height: 1px;
	margin: 30px 0;
}
.divider {
	position: relative;
	display: block;
	height: 1px;
	margin: 30px 0;
}
.divider.line {
	background: #e9e9e9;
}
.divider.micro {
	display: block;
	margin: 20px 0;
}

.upload-file-col {
	font-size: 12px;
}

.upload-file{
	border-bottom: 1px solid #ddd;
	line-height: 30px;
	white-space: nowrap;
	text-align:left;
}

.searchInput {
	padding: 6px 15px 6px 30px;
	margin: 3px;
	background: url('../images/search.png') no-repeat 8px 6px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border: 1px solid #d0d0d0;
	background-color: #fcfcfc;
}

.interaction-buttons {
	position:relative;
	overflow:hidden;
	padding:15px;
}


#usageline {
	content: "";
	display: block;
	width: 50px;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #5bc;
}

#elem-dialog {
	padding: 20px;
	left: 43%;
	top: 30%;
	opacity: 1;
	-webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
	-moz-box-shadow: 0 4px 16px rgba(0,0,0,.2);
	box-shadow: 0 4px 16px rgba(0,0,0,.2);
	background: rgb(255, 255, 255);
	border-radius: 2px;
	background-clip: padding-box;
	border: 1px solid #acacac;
	border: 1px solid rgba(0,0,0,.333);
	outline: 0;
	position: absolute;
	z-index: 1003;
	display: none; 
}

#opac-bck {
	display: none;
	opacity: 0.75;
	width: 100%;
	height: 1px;
	background: rgb(255, 255, 255);
	left: 0;
	top: 0;
	position: absolute;
	z-index: 1002;
}

#load {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 0%;
	height: 3px;
	background: #ECD510;
}

tbody::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

tbody::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

tbody::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}