<html>
    <head>
        <!--<link rel="stylesheet" href="/cloudbox/assets/style_OLD.css" type="text/css" />-->
        <link rel="stylesheet" href="/cloudbox/assets/main.css" type="text/css" />
        <script type="text/javascript" src=" http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/app/controllers.js"></script>
        <script type="text/javascript" src="js/app/services.js"></script>
        <script type="text/javascript" src="js/app/directives.js"></script>
    </head>
    
    <body ng-app="AuthPage">
        <div id="modal-overlay" ng-controller="KeygenController" ng-mousemove="mouseMoveHandler()">
            <div class="modal-dialog" keygen-directive></div>
        </div>

        <section class="wrap">
            <section class="welcome-cloud-container">

                <div class="main-section">
                   	<img class="main-cloud" src="images/betterCloudMain.png" id="bc">
                    <img class="welcome-image" src="images/welcome.png" id="wc">
                </div>

                <div class="small-section">
                    <div class="container">
                        <img class="small-cloud right" src="images/betterCloud1.png">
                        <img class="small-cloud left" src="images/betterCloud2.png">
                    </div>
                </div>

            </section>
            
            <section ng-controller="AuthController" class="input-block" ng-init="loginShown='true'">
                                 
                <div>   
                    <div class="login-block" ng-show="loginShown">
                        <form role="form"> 
        					<p><input class="validation-border" type="text" placeholder="Username" id="u" ng-model="user.name"/></p>
        					<p><input class="validation-border" type="password" placeholder="Password" class="pass-input" id="p" ng-model="user.password"/></p>                            
                        </form> 
    				</div>
                
               
                    <div class="registration-block" ng-show="!loginShown">
                        <form role="form"> 
            				<p><input class="validation-border" type="text" id="name" placeholder="Name" ng-model="newuser.name" onchange="checkName();"/></p>
            				<p><input class="validation-border" type="text" id="user" placeholder="Username" ng-model="newuser.uname"/></p>
            				<p><input class="validation-border" type="password" id="pass" placeholder="Password" ng-model="newuser.password" /></p>
            				<p><input class="validation-border" type="text" id="mail" placeholder="E-Mail" ng-model="newuser.mail" onchange="checkMail();"/></p>
            				<div class="center">
            					<a href="#" class="button green-bg white-text" id="keygen-butt" ng-click='showKeyGen()' style="width:80px;">
            						<img src="images/key.png" style="width:15px; height:20px;"><br /><span id="gen-desc" class="bdescr">Generate Key</span>
            					</a>
            				</div> 
                        </form> 
        			</div>   

                    <div class="button-block">
                        <a href="#" class="button green-bg white-text" ng-click="login(user); loginShown = true" style="width:60px;">
                            <img src="images/login.png"><br /><span class="bdescr">Login</span>
                        </a>

                        <a href="#" class="button green-bg white-text" ng-click="register(newuser); loginShown = false" style="width:60px;">
                            <img src="images/register.png"><br /><span class="bdescr">Register</span>
                        </a>                        
                    </div>   

                </div>

                <div class="form-error" ng-bind="formStatus"></div>
                
            </section>
        </section>
        
    </body>
    
</html>