<html>
    <head>
        <link rel="stylesheet" href="/cloudbox/assets/style_OLD.css" type="text/css" />
        <link rel="stylesheet" href="/cloudbox/assets/main.css" type="text/css" />
        <link rel="stylesheet" href="/cloudbox/assets/reset.css" type="text/css" />


		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
		<script type="text/javascript" src="/cloudbox/js/app.js"></script>
		<script type="text/javascript" src="/cloudbox/js/app/controllers.js"></script>
		<script type="text/javascript" src="/cloudbox/js/app/services.js"></script>
		<script type="text/javascript" src="/cloudbox/js/app/directives.js"></script>

        <title>Cloud Box</title>
    </head>
    
    <body ng-app="FileManagerPage"> <!-- add class file-draggable-over-element -->
        <div id="load"></div>
        <div id="modal-overlay"></div>
        
        <section class="main-wrap">
			<aside>
				<h2>Cloud Box</h2>

				<h4 style="font-size: 1.75em;" class="light color">#1 Best Cloud Storage Solution</h4>
				<div class="divider bar line micro"><div id="usageline"></div></div>

				<div id="menu-buttons">
					<div id="myfiles" onclick='changeMe("myfiles");'>
						<a class="button color">
							<img src="/cloudbox/images/icons/w/myfiles.png">
							<br>
							<span class="bdescr">My Files</span>
						</a>
					</div>
					<div id="shfiles" onclick='changeMe("shfiles");'>
						<a class="button secondary">
							<img src="/cloudbox/images/icons/g/sharedfiles.png">
							<br>
							<span class="bdescr">Shared Files</span>
						</a>
					</div>
					<div id="enfiles" onclick='changeMe("enfiles");'>
						<a class="button secondary">
							<img src="/cloudbox/images/icons/g/filevault.png">
							<br>
							<span class="bdescr">File Vault</span>
						</a>
					</div>
				</div>

				<div class="divider bar line micro"><div id="usageline"></div></div>
				<h6 style="font-size: 1.25em;" class="light color">
					<div id="dyn-storage">20% used</div>
				</h6>

			</aside>
			<div class="content-container">
					<div id="content">
						<div class="header-container">
							<div class="upper">
								<div class="left-container">
									<input type="search" class="searchInput" placeholder="Search...">
								</div>

								<div class="right-container">
									<h2 class="entry-title left">Welcome <small id="username" class="right"><{user}>!</small></h2>

									<div class="right settings-btn">
										<a onclick="openBubble();" id="button-settings" class="button color" style="width:60px;">
											<img src="/cloudbox/images/icons/settings.png">
											<br />
											<span class="bdescr">Settings</span>
											<br>
										</a>
									</div>

								</div>

							</div>
							<div class="divider bar line micro"><div id="usageline"></div></div>
						</div>

						<div class="interaction-buttons"></div>


						<div class="filebrowser" ng-controller="FileBrowserController" ng-init="getRootFolder();">
							<!--<table>
								<thead>
									<tr>
										<th style="width:30px;"><input class="checkbox" type="checkbox" onclick='selectAll(this);'/></th>
										<th style="width:35%;">File/Folder Name</th>
										<th style="width:30%;">Size</th>
										<th style="width:20%;">Modified</th>
										<th style="width:15%;">Type</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>-->
							<header>
								<div class="row">
									<div class="cell" style="width:1%;"><input class="checkbox" type="checkbox" onclick='selectAll(this);'/></div>
									<div class="cell" style="width:35%;">File/Folder Name</div>
									<div class="cell" style="width:30%;">Size</div>
									<div class="cell" style="width:20%;">Modified</div>
									<div class="cell" style="width:15%;">Type</div>
								</div>
							</header>
							<section ng-repeat="obj in objlist">
								<div class="row" id="{{ obj.id }}" >
									<div class="cell" style="width:1%;"><input class="checkbox" type="checkbox" onclick='selectAll(this);'/></div>
									<div class="cell" style="width:35%;">{{ obj.name }}</div>
									<div class="cell" style="width:30%;">{{ obj.size }}</div>
									<div class="cell" style="width:20%;">{{ obj.modified }}</div>
									<div class="cell" style="width:15%;">{{ obj.type  }}</div>
								</div>
							</section>
						</div>

					</div>
				</div>
        </section>


		<div ng-controller="FileUploadController" ng-init="init();" style="right: 45px; left: auto; width: 493px; bottom: -315px;position:fixed;" id="doclistmole">
			<div class="doclistmole-headercontainer" ng-click="toggleUploader();">
				<div class="doclistmoleheader" style="cursor: pointer; overflow:hidden;left:372px; top:122px;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;height:32px;line-height:32px;font-size:13px;background-color:#5bc;/*color:#fff;*/">
					<img src="images/icons/upload.png" style="padding:7px;float:left;">
					<div style="padding-left: 10px;color: #fff;font-family: 'Open Sans Condensed Bold';font-size: larger;float:left" class="title">Upload</div>
				</div>
			</div>
			<div class="doclistmole-contents" style="/*display: none;*/background-color:#fff;border-left:1px solid #ccc;border-right:1px solid #ccc;position:relative">
				<div class="uploadmole">
					<div class="uploadmole-toolbar-container" style="background: #e9e9e9;color: #666;font-size: 13px;padding: 0 8px;border-bottom: 1px solid #ddd;overflow: hidden;line-height:30px;">
						<form id="upload" action="upload.php" method="POST" enctype="multipart/form-data">
							<div id="upload" style="cursor: pointer;text-decoration: none;float:left; padding: 3px;padding-right: 15px;padding-left: 15px;" ng-click="openFileDialog();">Upload</div>
							<input type="file" style="display:none;" id="fileselect" name="file_data[]" multiple="multiple" />
						</form>
						<div id="cancel-upload" ng-click="abortFile();" style="display:none; cursor: pointer;text-decoration: none;float:left; padding: 3px;padding-right: 15px;padding-left: 15px;">Cancel</div>
					</div>
					<div class="uploadmole-filelist" style="height:100%;overflow:auto;overflow-x:hidden;height:274px;padding-bottom:2px;">
						<table id="file-upload-list" class="upload-uploader-table" style="border-collapse: collapse;width: 100%;font-size: 12px;table-layout: fixed;">

							<!--<tr class="upload-file" onclick="this.style['background-color'] = 'aliceblue'; if(document.getElementById('upload-state-1').innerHTML == 'Uploading..') { document.getElementById('cancel-upload').style['display'] = 'inline-block'; }" style="border-bottom: 1px solid #ddd;line-height: 30px;white-space: nowrap;">
								<td id="upload-file-1" class="upload-file-col upload-file-name" style="padding-right: 3px;padding-left: 8px;max-width: 225px;" ></td>
								<td>
									<div id="pg-container" style="width:100%; height:15px; padding:2px 2px 2px 2px;">
											<div class="sparkbar-container" style="margin: 4px 0;height: 10px;overflow: hidden;">
												<div id="pos-1" class="positive-progress-bar" style="width: 0%;float: left;height: 10px;background: #2793e6;"></div>
												<div id="neg-1" class="negative-progress-bar" style="width: 100%;float: left;height: 10px;background: #ccc;"></div>
											</div>
									</div>
								</td>
								<td>
									<div id="percentage-progress-1" style="width:50%;">
										<center>0%</center>
									</div>
								</td>
								<td id="upload-state-1" class="upload-file-col upload-file-action" style="font-size: 12px;width: 80px;padding-right: 8px;">Uploading..</td>
							</tr>-->

						</table>
					</div>
				</div>
			</div>
		</div>

	<!--<bubble class="bubble">
        <div id="usr-name">{{ USER }}</div>
        <ul>
            <div id="email">aaron.deb.31@gmail.com</div>
            <div id="usage">0MB of 50MB used</div>
            //get icoomo or some other better icons ;
            <li id="stats">
                <a href="#"><img src="images/chart_pie.png" style="height: 15px; width: 15px; padding-right: 10px;">Statistics</a>
            </li>
            <li>
                <a href="#" onclick="submitLogOut();"><img src="images/logout.png" style="height: 15px; width: 15px; padding-right: 10px;">Sign out</a>
            </li>
        </ul>
    </bubble> -->
        
    </body>
    
</html>