@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800);

body {
    background: #F0F0F0;
    font-family: 'Open Sans' !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.green-bg {
    background-color: #5bc !important;
}

.white-text {
    color: #FFF !important;
}

.active {
    display: inline-block !important;
}

.center {
    text-align: center;
}

.validation-border {
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 3px solid;
}

input[type=password], input[type=text], .dialog-keyinput {
    font-weight: bold;
    color: #868686;
    padding: 8px 7px;
    margin-bottom: 18px;
    border-radius: 2px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.09);
    background-color: #FFFFFF;
}

a{
    text-decoration: none;
    color: #5bc;
    -moz-transition: color 0.15s ease-out , background-color 0.15s ease-out , border 0.15s ease-out;
    -webkit-transition: color 0.15s ease-out , background-color 0.15s ease-out , border 0.15s ease-out;
    -o-transition: color 0.15s ease-out , background-color 0.15s ease-out , border 0.15s ease-out;
    -ms-transition: color 0.15s ease-out , background-color 0.15s ease-out , border 0.15s ease-out;
    transition: color 0.15s ease-out , background-color 0.15s ease-out , border 0.15s ease-out;
}

a.button, button, input[type=button], input[type=submit], input[type=reset] {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
    padding: 0.8em 0;
    cursor: pointer;
    border-radius: 2px;
    font: normal normal 1.1em/1em 'Open Sans Condensed', Arial, sans-serif;
    text-align: center;
    outline: none;
    border: none;
    -moz-transition: background 0.15s ease-out;
    -webkit-transition: background 0.15s ease-out;
    -o-transition: background 0.15s ease-out;
    -ms-transition: background 0.15s ease-out;
    transition: background 0.15s ease-out;
}

a.button.secondary, button.secondary, input[type=button].secondary, input[type=submit].secondary, input[type=reset].secondary {
    color: #666;
    background: #e9e9e9;
}

span.bdescr {
    font-size: 10px;
    font-weight: bold;
}

/* modal stuuff */

#modal-overlay {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.68);
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1002;
    display: none;
}

.modal-dialog {
    padding: 35px;left: 43%; top: 30%; opacity: 1;-webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
    -moz-box-shadow: 0 4px 16px rgba(0,0,0,.2);
    box-shadow: 0 4px 16px rgba(0,0,0,.2);
    background: #F0F0F0;
    border-radius: 2px;
    background-clip: padding-box;
    border: 1px solid #acacac;
    border: 1px solid rgba(0,0,0,.333);
    outline: 0;
    position: absolute;
    z-index: 1003;
}

.modal-dialog-buttons {
    text-align: center;
}

button#set-key {
    padding: 15px;
}

button:disabled {
    color: #ccc;
}

.dialog-keyinput{
    width: 29px;
    float:left;
    padding-left: 3px;
    border: none;
}

.minus {
    font-weight: bold;
    font-size: 46px;
    line-height: 31px;
    float:left;
    padding: 0 10px;
}

/* cloud stuff */

section.welcome-cloud-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    display: inline-block;
}

section.welcome-cloud-container .main-section {
    display: inline-block;
    z-index: 1;
    position: relative;
    width: 421px;
}

section.welcome-cloud-container .small-section {
    margin-top: -75px;
    z-index: 3;
    position: relative;
}

section.welcome-cloud-container .small-section .container {
    display: inline-block;
    width: 650px;
}

.welcome-image {
    width: 310px;
    height: 162px;
    top: 70px;
    z-index:-1;
    display: inline-block;
    padding-top: 55px;
    padding-left: 75px;
}

.main-cloud {
    background-repeat:no-repeat;
    width: 421px;
    height: 195px;
    z-index: 2;
    left: 0;
    position: absolute;
}

.small-cloud {
    width: 221px;
    height: 105px;
}

/* login/register page */

.input-block {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.input-block .registration-block, .input-block .login-block {
    border-right: none !important;
    border-bottom: none !important;
    border-top: none !important;
}

.input-block .form-error {
    display: inline-block;
    padding: 10px;
    width: 100%;
    overflow: hidden;
}

.button-block {
    display: inline-block;
    width: 100%;
    text-align: center;
}

/* main content page */

.filebrowser {
    display: table;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    background-color: #fff;
}

.filebrowser header .row {
    background-color: #FFF;
}

.filebrowser .row {
    display: table-row;
}

.filebrowser .cell {
    display: table-cell;
    text-align: center;
}

/*.entries .filebrowser table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    background-color: #fff; 
}

.entries .filebrowser table thead {
    display: block;
}

.entries .filebrowser table tbody {
    overflow-y: auto;
    display: block;
    height: 509px;
} */

.upper {
    display: inline-block;
    width: 100%;
}

.left-container {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.right-container {
    width: 49%;
    display: inline-block;
}

.right {
    float: right;
}

.left {
    float: left;
}

.disabled {
    background-color: #EBEBE4;
}

/* main wrap */

#page, #page * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#home {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

.content-container{
    width: 80%;
    display: inline-block;
}

aside{
    display: inline-block !important;
    width: 20%;
    float: left;
    padding: 30px !important;
    box-sizing: border-box;
}

#menu-buttons .button {
    width: 100%;
}

#content {
    padding: 30px;
}

.entries {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* welcome class style */
.entry-title {
    margin: 10px 0;
    padding-bottom: 0;
    font-size: 2.3em;
}

/* dividers utils */

.divider {
    position: relative;
    display: block;
    height: 1px;
    margin: 30px 0;
}
.divider {
    position: relative;
    display: block;
    height: 1px;
    margin: 30px 0;
}
.divider.line {
    background: #e9e9e9;
}
.divider.micro {
    display: block;
    margin: 20px 0;
}
#usageline {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #5bc;
}

/* I <3 buubbleews */

bubble {
    margin-top: 12px;
    z-index:1;
    top:97px;
    left:83%;
    visibility:hidden;
}

bubble #usr-name {
    margin: -7px 0 10px;
    font-size:15px;
}

bubble ul {
    margin: 0;
    padding: 0;
}

/* CHECK THIS CAUS' THIS DOESN'T LOOK RIGHT 
   maybe make the divs lis? to be more semantically bettAr
*/

bubble ul div#email {
    text-align:center;
    padding-bottom: 5px;
}

bubble ul div#usage {
    text-align:center;
    color: #888;
}


/* MOBILE */


@media screen and (max-width: 1024px) {
    aside {
        text-align: center;
    }

    section.main-wrap > * {
        width: 100%;
    }

    #menu-buttons > div {
        width: 32%;
        display: inline-block;
    }

    .divider.bar.line.micro {
        display: none;
    }

    div#menu-buttons {
        padding: 20px 0;
    }

    .settings-btn {
        display: none;
    }
}